*{
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7ea04d;
  color: #fff;
}

p {
  margin: 0.5em 0 0.5em 0;
}

h1 
{
  font-size: 3em;
  color: #335d2d;
  margin-top: 12px;
  margin-bottom: 12px;
}

.banner {
  max-width: 100%;
}

.sub-title {
  background-color: #F8D5E5;
  color: #335d2d;
  font-size: 1.5em;
  padding: 20px;
}

aside img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px #fe7171 solid;
  background-color: #fe7171;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#335d2d;
  padding: 10px;
}

nav a:visited,
nav a:link {
  color: #fff;
  text-decoration: none;
}

nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  list-style: none;
  display: inline-block;
  margin: 0 5px 0 5px;
}

main {
  display: block;
  background-image: url('/images/background-image.jpg');
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 85%;
}

footer {
  padding: 15px;
}

aside, 
article {
  padding: 2em;
}

aside 
{
  text-align: center;
}

article {
  width: 75%;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
  }
  aside {
    margin-left: 2%;
  }
}