*{
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7ea04d;
  color: #fff;
}

p {
  margin: 0.5em 0 0.5em 0;
}

h1 
{
  font-size: 3em;
  color: #335d2d;
  margin-top: 12px;
  margin-bottom: 12px;
}

.banner {
  max-width: 100%;
}

.sub-title {
  background-color: #F8D5E5;
  color: #335d2d;
  font-size: 1.5em;
  padding: 20px;
}

aside img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px #fe7171 solid;
  background-color: #fe7171;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#7ea04d;
  padding: 10px;
}

nav a:visited,
nav a:link {
  color: #fff;
  text-decoration: none;
}

nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  list-style: none;
  display: inline-block;
  margin: 0 5px 0 5px;
}

main {
  display: block;
  background-image: url('./background-image.jpg');
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 85%;
}

.contact {
  position: relative;
  left: 460px;
  align-items: center;
}

.contact-email {
  position: relative;
  left: 120px;
}

.contact-email h1 {
  position: relative;
  left: 180px;
}

.pie img{
  height: 200px;
  width: 300px;
}

footer {
  padding: 15px;
}

aside, 
article {
  padding: 2em;
}

aside 
{
  text-align: center;
}

article {
  width: 75%;
}

.columns {
  display: flex;
}


/* Pies */

.pie {
  width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: #7ea04d;
  border: solid 3px #fe7171;
  border-radius: 5%;

}

.pie img {
  width: 100%;
  border-radius: 5%;
}

.pie .title {
  font-weight: bold;
  
}

.pie .columns {
  width: 100%;
}

.pie .price {
  text-align: right;
}

.pie .columns div {
  width: 50%;
}

.pie button {
  background-color: #fe7171;
  color: white;
  padding: 10px;
  border: 1px solid #335d2d;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
  }
  aside {
    margin-left: 2%;
  }
  .columns-desktop {
    display: flex;
  }
}